.idea/*
target
terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate
terraform/.terraform.tfstate.*
java-maven-app/terraform/terraform.tfstate
java-maven-app/terraform/terraform.tfstate.*